*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Segoe UI",Tahoma,Geneva,Verdana,sans-serif;
}

body{
background:#021a0b;
color:white;
}

/* NAVBAR */

nav{
position:fixed;
width:100%;
top:0;
backdrop-filter:blur(12px);
background:rgba(0,0,0,0.35);
border-bottom:1px solid rgba(255,255,255,0.2);
z-index:100;
}

.links{
display:flex;
justify-content:space-between;
align-items:center;
padding:14px 40px;
}

/* NAV LINKS */

ol{
display:flex;
gap:20px;
list-style:none;
}

li a{
color:white;
text-decoration:none;
font-size:15px;
position:relative;
padding:5px;
transition:0.3s;
}

li a::after{
content:"";
position:absolute;
width:0%;
height:2px;
bottom:-4px;
left:0;
background:#22c55e;
transition:0.3s;
}

li a:hover::after{
width:100%;
}

li a:hover{
opacity:0.8;
}

/* TITLE */

#title{
color:white;
font-size:26px;
letter-spacing:1px;
font-weight:600;
}

/* HERO */

.hero{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
width:100%;
text-align:center;
color:white;
background:
linear-gradient(rgba(2, 26, 11, 0.332),rgba(6, 61, 26, 0.403)),
url("../resources/bg.jpg");
background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

.header{
max-width:800px;
}

/* HERO CONTENT */

.header h1{
font-size:60px;
margin-bottom:10px;
}

.header h3{
font-weight:400;
margin-bottom:30px;
opacity:0.85;
}

/* BUTTONS */

button{
padding:12px 28px;
margin:10px;
border-radius:30px;
border:none;
font-size:16px;
font-weight:500;
cursor:pointer;
color:white;
background-color:#22c55e;
transition:all 0.35s ease;
}

button:hover{
transform:translateY(-3px) scale(1.05);
box-shadow:0 10px 25px rgba(0,0,0,0.4);
background-color:#0f612d;
}

button:active{
transform:scale(0.95);
}

/* GENERAL SECTIONS */

html{
scroll-behavior:smooth;
}

.section{
padding:110px 60px;
text-align:center;
position:relative;
}

/* PRODUCTS */

#products{
background:rgba(34,197,94,0.08);
}

.cards{
display:flex;
gap:40px;
margin-top:40px;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:rgba(0,0,0,0.55);
padding:40px;
border-radius:14px;
width:260px;
border:1px solid rgba(34,197,94,0.3);
transition:0.3s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 10px 30px rgba(34,197,94,0.25);
}

/* PRICING */

#pricing{
background:rgba(0,0,0,0.35);
}

.pricing-container{
display:flex;
gap:40px;
margin-top:40px;
flex-wrap:wrap;
justify-content:center;
}

.price-card{
background:rgba(0,0,0,0.55);
padding:40px 30px;
border-radius:16px;
width:220px;
border:1px solid rgba(255,255,255,0.08);
}

.price{
font-size:30px;
margin:15px 0;
}

.popular{
border:2px solid #22c55e;
transform:scale(1.05);
}

/* JOIN */

#join{
background:linear-gradient(135deg,#0f612d,#22c55e);
text-align:center;
}

#join p{
margin:20px 0 30px;
font-size:18px;
opacity:0.9;
}

/* FOOTER */

footer{
padding:25px;
background:#021a0b;
text-align:center;
border-top:1px solid rgba(255,255,255,0.08);
}