
/* GLOBAL */

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Segoe UI',sans-serif;
}

body{

background:var(--bg);
color:var(--text);

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

}

/* HAMBURGER */

.hamburger{

position:fixed;

top:20px;
left:20px;

font-size:28px;

cursor:pointer;

color: var(--text);

z-index:1001;

}

/* SIDEBAR */

.sidebar{

position:fixed;

top:0;
left:-250px;

width:250px;
height:100vh;

background: var(--card);

padding:30px 20px;

display:flex;
flex-direction:column;

gap:18px;

transition:0.3s;

z-index:1002;

border-right:1px solid #334155;

}

.sidebar.open{
left:0;
}

.sidebar a{

text-decoration:none;

color: var(--text);

font-size:16px;

padding:8px 5px;

border-radius:6px;

transition:0.2s;

}

.sidebar a:hover{
background: var(--card2);
}

.logo{
color:var(--text);
margin-bottom:20px;
}

/* OVERLAY */

.overlay{

position:fixed;

top:0;
left:0;

width:100%;
height:100%;

background:rgba(0,0,0,0.5);

opacity:0;
visibility:hidden;

transition:0.3s;

z-index:1000;

}

.overlay.show{
opacity:1;
visibility:visible;
}

/* PROFILE CONTAINER */

.container{

width:450px;

background:var(--card);

padding:35px;

border-radius:16px;

border:1px solid var(--border);

}

/* PROFILE HEADER */

.profile-header{

display:flex;
flex-direction:column;

align-items:center;
text-align:center;

gap:10px;

margin-bottom:25px;

}

/* AVATAR */

.avatar{

width:120px;
height:120px;

border-radius:50%;

background:#374151;

object-fit:cover;

}

/* NAME */

.display-name{

font-size:22px;
font-weight:600;

}

/* EMAIL */

.email{

font-size:14px;
color:var(--muted);

}

/* JOIN DATE */

.join-date{

font-size:13px;
color:var(--muted);

}

/* DIVIDER */

hr{

border:none;
border-top:1px solid var(--border);

margin:20px 0;

}

/* ACCOUNT INFO */

.section-title{

margin-bottom:15px;

font-size:18px;

}

/* INFO ROW */

.info-row{

display:flex;

justify-content:space-between;

padding:10px 0;

border-bottom:1px solid var(--border);

}

/* LABEL */

.label{
color:var(--muted);
font-size:14px;
}

/* VALUE */

.value{
font-weight:500;
}