/* DARK THEME (default) */

:root{

--bg:#0f172a;
--card:#111827;
--card2:#1e2537;
--input:#020617;

--border:#1e293b;

--text:#ffffff;
--muted:#9ca3af;

--accent:#22c55e;
--accent-hover:#16a34a;

--danger:#ef4444;
--danger-hover:#dc2626;

}



/* LIGHT THEME */

body.light-theme{

--bg:#f8fafc;
--card:#ffffff;
--card2:#f1f5f9;
--input:#f1f5f9;

--border:#d1d5db;

--text:#0f172a;
--muted:#64748b;

--accent:#16a34a;
--accent-hover:#15803d;

--danger:#dc2626;
--danger-hover:#b91c1c;

}